// @import'common.scss';
@function qw($px) {
    @return $px / 37.5px * 1rem;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: qw(45px);
        line-height: qw(45px);
        text-align: center;
        font-size: qw(30px);
    }
    main {
        width: 100%;
        flex: 1;
    }
    footer {
        width: 100%;
        height: qw(50px);
        border-bottom: qw(1px) solid #ccc;
    }
}